body {
    background-color:#ebfad1;
    color: darkslategrey
}

h1 { 
    font-size: 40px;
    width: 420px;
    margin: 20px 10px 20px 10px;
    color: #d277a5;
    max-width: 670px;
    min-width: 300px;
    text-align: left;
    /* padding: 15px 40px 5px 40px; */
    border-bottom: #d277a5 solid;

}

h3{
    font-size: 40px;
    color: #d277a6;

}
h4{
    font-size: 25px;
    color: #d277a6;
    text-align: center;
}

p {
    max-width: 670px;
    min-width: 300px;
    margin: 20px 10px 20px 10px;
    text-align: justify;
    line-height: 1.5;
}
ul {
    margin: 20px auto;
    list-style: inherit;
    list-style: inside circle;
}

ol {
    display: inline-block;
    padding: 10px;
    margin: 15px;
    list-style: decimal;
}


#college {
    display: inline-block;
    float: auto;
    min-width: 200px;
    max-width: 300px;
    min-height: 300px;
    max-height: 350px;
    overflow: scroll;
    border-color: #d277a5;
    padding: 10px;
    margin: 15px;
    border-width: 3px;
    border-style: double;
}
#major {
    text-indent: 2em;
}

#work {
    display: inline-block;
    float: auto;
    margin: auto;
    min-width: 200px;
    max-width: 300px;
    min-height: 300px;
    max-height: 350px;
    overflow: scroll;
    padding: 10px;
    margin: 15px;
    border-width: 3px;
    border-style: double;
    border-color: #d277a5;
    line-height: 1.4;
}

#goals {
    margin: 30px 15px;
    padding: 10px;
    text-align: center;
    max-width: 670px;
    min-width: 300px;
    line-height: 1.4;

}
#sleepList {
    display: inline-block;
    float: auto;
    min-width: 200px;
    max-width: 300px;
    min-height: 300px;
    max-height: 350px;
    overflow: scroll;
    border-color: #d277a5;
    padding: 10px;
    margin: 15px;
    border-width: 3px;
    border-style: double;
    line-height: 1.2;
}
/* I know I should make this box bigger, but I like that I can make it scroll, so for fancy scrolling and small ego effect, I am forgoing style.  */


img{
    margin: 15px auto 15px auto;
}
